[2015-07-30 18:04] robbrockbank opened #4 "Unhandled exception when using wrong etcd address"
Running calicoctl with an incorrect IP address results in stack trace showing a ConnectionTimeoutError (see stack trace).

We could fix up by catching this in calicoctl, but perhaps better to fix in datastore and rethrow the exception as a DataStoreError ?

calico@calicodev:~/calico-docker$ sudo ETCD_AUTHORITY=1.2.3.4:1234 ./calico_containers/calicoctl.py node
WARNING: Unable to detect the xt_set

[2015-08-20 23:44] tomdee opened #15 "calicoctl uses the IP address for the cbr0 docker bridge"
The `calicoctl node` command attempts to detect the which IP it should use. Currently we ignore the docker0 bridge but otherwise just use the address on the first interface that we find.

Kubernetes docs, recommend using a docker bridge called cbr0 - calico won't ignore this interface and can end up using this address.

[2015-08-21 16:18] caseydavenport commented on #15
cc @TrimBiggs

[2015-08-21 17:12] caseydavenport commented on #15
Calico-docker [PR #462](https://github.com/projectcalico/calico-docker/pull/462) fixes this.

[2015-08-24 18:08] caseydavenport commented on #15
Should be fixed in the latest calico-docker release: https://github.com/projectcalico/calico-docker/releases/tag/v0.6.0

[2015-08-24 18:08] #15 closed

[2015-08-25 11:17] fasaxc commented on #15
Shouldn't we bail out if it's ambiguous? This is hard to diagnose when it
happens.

On Mon, 24 Aug 2015 19:10 Casey Davenport notifications@github.com wrote:

[2015-08-26 15:53] caseydavenport commented on #15
Yep, that might be sensible.

[2015-09-21 13:29] plwhite opened #21 "Incorrect calculation of length in block.py"
There are a couple of bugs in block.py which seem to cancel each other out, but could be tidied up (because I found them very confusing looking at the code).

    PREFIX_MASK = {4: (IPAddress("255.255.255.255") ^ (BLOCK_SIZE - 1)),
                   6: (IPAddress("ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff") ^
                       (BLOCK_SIZE - 1))}

Sticking to IP v4, and with BLOCK_SIZE of 8, th

[2015-09-21 17:34] spikecurtis commented on #21
I believe you are mistaken.

[code]

Which is to say, `BLOCK_SIZE` is 256, and thus we compute the `PREFIX_MASK`s correctly.

[2015-09-21 17:40] #21 closed

[2015-09-22 14:18] fasaxc opened #22 "Exception in netns.py"
@lwr20 was rerunning our scale testing script today, the build pulled in a new revision of libcalico and we started getting this error.  He's going to retry with an older revision to confirm that it was a regression.

[code]

[2015-09-22 14:51] lwr20 commented on #22
The older version works.  The version I used was:
git+https://github.com/projectcalico/libcalico.git@d5b7cf7dca5f072aa2d66628e78fcc8048eb7f38#egg=libcalico

[2015-09-24 11:14] plwhite commented on #21
Doh. Yes, I somehow misread BLOCK_SIZE as BLOCK_SIZE_BITS, sorry.

[2015-09-24 23:31] alexhersh commented on #22
Check #13
Libcalico v0.1.3 introduced a backwards-incompatible change to how we define namespaces. Now, instead of deriving namespace from a pid integer, we use the full path to the namespace as a `Namespace` object.

[2015-09-24 23:36] alexhersh commented on #22
There is, however, a version of `Namespace()` called `PidNamespace()` which generates a path based on an integer. Basically, wherever you pass in `pid` as a namespace argument, you can replace it with `PidNamespace(pid)`

[2015-09-24 23:59] tomdee commented on #22
@fasaxc @lwr20 So it looks like you need to update your scale script. Sorry for not making this change clearer in the release note (though is was mentioned - https://github.com/projectcalico/libcalico/releases/tag/v0.1.3)

I'm going to close the issue, feel free to reopen if you still think there's a bug here.

[2015-09-24 23:59] #22 closed

[2015-09-25 00:02] alexhersh commented on #4
python-etcd v1.4.1 should handle HTTP errors as an EtcdException, which we _do_ catch in pycalico. The next libcalico release should include this change, but we need to test to make sure this case is handled.

[2015-09-25 17:18] alexhersh commented on #4
exception now wrapped as follows in updated libcalico

[code]

[2015-09-25 20:31] #4 closed

[2015-09-28 15:03] insequent opened #26 "IPAMClient.auto_assign_ips assigns network and broadcast IPs"
Is there currently a solution to auto_assign only routable IPs, or is that considered a requirement of the consumer of ipam.py?

[2015-09-28 15:05] insequent commented on #26
Temporarily, I have a check to account for this in my code:

[code]

[2015-09-28 17:16] spikecurtis commented on #26
@insequent In Calico, all traffic is routed by the compute host.  There are no L2 broadcast domains and IP address pools are _not_ subnets.  Therefore, all addresses in the pool are routable.

Are you using Calico IPAM for something else that does include L2 broadcast domains?

[2015-09-28 17:41] insequent commented on #26
@spikecurtis: That make sense, and no we're not doing anything with the broadcast. The pools we're assigning are slices of our rfc1918 network and typically those are subnets of physical boxes, but you're right, this is a different case here. Thanks for getting my head out of L2 land.

[2015-09-28 17:41] #26 closed

[2015-10-19 16:02] caseydavenport opened #37 "Rule objects don't validate parameters"
When creating a libcalico rule, a minimal amount of validation is performed.  It would be significantly easier to debug policy problems if the given arguments (src_net, dst_tag, etc) were validated before being programmed to etcd so that errors in policy could be detected before being picked up by Felix.

[2015-10-19 16:47] spikecurtis commented on #37
@caseydavenport can you elaborate on what validation you'd like to see?

[2015-10-19 16:58] caseydavenport commented on #37
Sure.

There is already some validation - we check that `src_net` and `dst_net` can be cast as IPNetworks, and that the given actions is one of `allow` or `deny`.

I'd like to see validation of the `protocol` field - asserting that one of `["tcp", "udp", "icmp", None]` is provided (we've hit issues before when "TCP" was provided instead of "tcp" and felix barfed).

We should be validating that the

[2015-10-19 17:00] spikecurtis commented on #37
I like it.  All these are straightforward and immediately actionable.

[2015-10-20 16:26] spikecurtis opened #39 "Use $HOSTNAME environment variable instead of `socket.gethostname()`"
Lots of `libcalico` API calls use `socket.gethostname()` to get the name of the current host.  This is fine in most circumstances, but limits flexibility in some environments.

In particular, we actually only care that the hostname is a unique, stable identifier for the compute host.  Some orchestration systems, like Mesos, use reverse-name-resolution to name the compute host.  This can leave Cali

[2015-10-24 00:35] tomdee opened #42 "libcalico should add a NullHandler as the default logger"
Some code emits errors about not having a logger. Clients of this library can configure logging if they want, but they shouldn't get errors if they don't.

See https://github.com/projectcalico/calico-docker/issues/538

[2015-10-26 16:48] #42 closed

[2015-11-02 16:22] plwhite opened #47 "IPAM raising KeyError"
It's not impossible that this is a problem with calling code, but here is a stack trace that to me implies a possible bug in the libcalico IPAM.

My suspicion is that the issue was caused by multiple hosts attempting to grab an IP at the same time, and that one of them found that the block it was about to grab went away under its feet (this is a moderately sized scale test with 200 hosts, one of w

[2015-11-02 16:33] #39 closed

[2015-11-02 16:46] spikecurtis commented on #47
Ung.  There shouldn't be any issue with blocks disappearing under anyone's feet for the simple reason that _we never delete blocks_---only create and update.

It's odd because the code path you're hitting first tries to do an atomic create of a block, which fails because the block already exists.  Then it tries to read the existing block, and this fails claiming the block doesn't exist.  What's go

[2015-11-02 17:12] plwhite commented on #47
I have a workaround, because I am catching the KeyError and retrying, so this is not blocking at all. If my workaround doesn't work then I may have to revisit that, but I'm fairly relaxed about that risk.

I don't know what's in etcd because I nuked it after saving the logs, unfortunately. However, I did find that another host grabbed the IP address 192.168.56.0 from the block (the first in the bl

[2015-11-02 17:15] spikecurtis commented on #47
Yeah, that's more or less exactly what https://github.com/coreos/etcd/issues/741 is about.

[2015-11-03 18:34] robbrockbank commented on #47
Link to the updated docs associated with this problem:

https://github.com/coreos/etcd/pull/883/files

Until there is a better fix in etcd, it looks like it is necessary to use a quorum=true indication on a GET which will increase the response time.

[2015-11-03 18:57] spikecurtis commented on #47
@robbrockbank that's my assessment too.  There is some scope for using this sparingly in our implementation.  Only certain critical areas can lead to the race condition Pete is seeing.

[2015-11-04 00:38] spikecurtis commented on #47
On further analysis, I've decided we should always use `quorum=True` for reading in IPAM.

We could build retry logic into the `libcalico` functions, which might mean better performance in mainline operation, but means that higher layers making IPAM calls may get caught out by non-linear behavior.  E.g.

[code]

could fail with KeyError.  Super confusing and I think we're better off just taking th

[2015-11-04 19:29] robbrockbank commented on #47
Would be nice if this was a global option on the etcd server so it wasn't required on each get request.  Worth raising with etcd?

[2015-11-04 22:23] spikecurtis commented on #47
I don't think we'd want to do it as a global option.  There are plenty of cases (show commands, for example) where we wouldn't really care about stale reads and don't want the overhead.

[2015-11-05 01:30] #47 closed

[2015-11-18 12:22] alexwlchan opened #54 "How do I install pycalico?"
I just hit a problem in the main calico-docker repo which ended in an ImportError with pycalico:

<pre><code><strong>alexwlchan at ubuntuvm in /m/d/calico-docker on git:master
$ dist/calicoctl checksystem</strong>
Traceback (most recent call last):
  File "<string>", line 43, in <module>
ImportError: No module named pycalico.datastore_errors</code></pre>

What if I try installing with pip? Nope:

[2015-11-18 14:45] alexwlchan commented on #54
Never mind, looks like this was an issue with a (very?) out-of-date codebase.

[2015-11-18 14:45] #54 closed

[2015-11-19 19:15] robbrockbank commented on #37
Fixed by #53

[2015-11-19 19:15] #37 closed

[2015-11-20 00:35] caseydavenport opened #55 "Removing an IP pool doesn't remove the IPAM affinity"
@Symmetric noticed this guy.

Reproduction:
1) Use Calico IPAM to assign an IP address - this causes a block to be associated with the given host.
2) Delete the Calico IP pool that contains that block, add a new IP pool instead.
3) Assign another IP address - the assigned address will be allocated from the original pool (now deleted) since IPAM still has a hold on the block.

Looks like IPAM needs

[2015-11-20 00:37] Symmetric opened #56 "IPs allocated from a stale block when a pool is deleted"
Scenario:

Node configured with default calico pool.
A container is created on the node, causing a block to be allocated to the host.
The default pool is deleted, and a new pool is added.
Another container is created on the node.

Result: the container is allocated an IP from the initially allocated block, instead of the pool that is currently configured.

Expected: the container gets an IP from t

[2015-11-20 00:39] caseydavenport commented on #55
Closing in favor of #56

[2015-11-20 00:39] #55 closed

[2015-11-23 15:52] plwhite opened #57 "The hostname argument for auto_assign_ips is not respected"
When you call `auto_assign_ips`,  there is an optional `hostname` argument (defaulting to the hostname of this server). In principle, that means that you can have a name for a server used in IPAM that is not the same as the server hostname. Unfortunately, if you don't set it to the hostname of this server, then it doesn't work, which makes it a bit pointless.

The underlying issue is that `_auto_a

[2015-11-24 00:23] robbrockbank commented on #57
@plwhite
Yup - looks like the correct fix is to plumb through the hostname.  Feel free to assign a PR to me if you get a fix out for this.

[2015-11-24 16:38] spikecurtis commented on #57
@robbrockbank, @tomdee and I discussed this at length and our conclusion was to use the environment variable exclusively, rather than as a parameter on the function call.  If we're changing this again, I'd like us to reach a consistent position across the entire `libcalico` API.

[2015-11-24 17:45] robbrockbank commented on #57
Ah @spikecurtis apologies.  What's the motivation for having the hostname passed in the IPAM API, but then not at the lower level in block.py?

[2015-11-24 18:13] robbrockbank commented on #57
Actually @spikecurtis - I get your point, I assume Peter should just be setting the environment variable before using the API.

That said, the IPAM module does allow you to pass in a hostname - so this feels like a valid issue and solution to that use case, no?

[2015-11-24 20:38] spikecurtis commented on #57
The original idea was to remove the hostname params on the IPAM API calls.  This got missed in the patch that added support for the environment variable.

[2015-11-25 11:20] plwhite commented on #57
I am unhappy about using the HOSTNAME environment variable. There are two issues.
- You are passing parameters around in environment variables. It just feels completely odd to me that my python code has to set an environment variable to pass a parameter into libcalico.
- The HOSTNAME environment variable is a dangerous thing to set, and having to change it from, well, the hostname, might break oth

[2015-11-25 14:56] spikecurtis commented on #57
@tomdee how do you feel about an optional constructor param for IPAMClient?

[2015-11-25 16:58] fasaxc commented on #57
Using an environment variable seems wrong to me.  There's no reason I should have to run the IPAM allocation functions from the same host that I want to assign an IP for.  If we switch to libcalico in OpenStack, for example, we'd be assigning IPs from the centralised controller, not from the host that happens to be running the workload.

Defaulting to the local hostname belongs in the calicoctl la

[2015-11-25 16:59] robbrockbank commented on #57
@spikecurtis FWIW, I don't think having it as constructor parameter is the right thing to do.

Firstly, moving it to the constructor suggests that you'd want to remove if from the IPAM API methods - which is a non-backwards compatible change which we generally try to avoid.

Secondly, I don't really feel that the IPAM client is host specific anymore than it is handle specific, say.  And, as Peter

[2015-11-26 12:02] plwhite commented on #57
I don't mind whether it is a constructor or passed around - whatever works best for you guys.

However, there's a terminology thing here. If it's called "hostname", that implies that it's the hostname, which is clearly not always true. I'd prefer something more neutral such as "affinity_id", which might be the hostname of the server running the command, the hostname or ID of the hosting server, or

[2015-12-01 21:49] tomdee commented on #57
I agree with Peter, we've got the terminology wrong here. As part of fixing this up, we should be removing the bad references to "hostname" or "host" from ipam.py and replacing with affinity_id or whatever.

I don't feel too strongly about whether we
1) Change init of IPAMClient to allow an optional affinity_id (default to current hostname)
2) Add an extra method to IPAMClient to set the affinity_

[2015-12-02 12:21] plwhite opened #58 "Two hosts managed to get the same block"
*The code I was running does not include the fix to issue #47 - if you think that's the issue, feel free to comment and close without wasting any time on it.*

I have 500 hosts trying to grab addresses at once. See the following.

    core@plw-etcd-00 ~ $ etcdctl ls /calico/ipam/v2 --recursive | grep 192.168.242.192-26
    /calico/ipam/v2/host/host-0282/ipv4/block/192.168.242.192-26
    /calico/ip

[2015-12-02 12:25] plwhite commented on #58
And from host-0282, the competing entity.

[code]

[2015-12-02 18:33] robbrockbank commented on #58
The stack trace suggests this is not the latest release of libcalico.  I believe this issue is resolved with the latest libcalico.  Could you  retest with that?

[2015-12-02 18:50] robbrockbank commented on #57
I personally prefer (3),  I think having an IPAM client per affinity ID doesn't play that nicely if you have a central point for IP assignment - you'd need a client per affinity ID (and therefore multiple etcd connections when it's not really necessary).  But it's not a strong preference.

Given this is a non-backwards compatible change, we could add the affinity_id alongside the hostname paramete

[2015-12-02 19:09] robbrockbank commented on #57
Actually, the data keys in etcd are "host" specific which is a pain.  If we want to change this properly we should update the keys too - so basically everything will break for existing deployments that have been using Calico IPAM.  Not so good.

[2015-12-03 11:55] plwhite commented on #57
The data keys are tied to the host to which the block belongs, not the host that grabbed it (as you know, but I want to get my thoughts straight!). Obviously, that's wrong if we start saying that the affinity_id can be the rack (say), but it's not terrible to have data under `/calico/ipam/v2/host/<rack ID>`.

[2015-12-03 19:23] robbrockbank commented on #57
Yup that's correct Peter.

I've discussed with @tomdee.  I'm intending to fix up as per option (3) - but the naming used in the etcd keys and values with still say "host" even though it's really the affinity_id.

[2015-12-04 20:56] spikecurtis commented on #57
The intent was to allow multiple types of affinity, like host, rack, row, cluster, etc to be eventually added.  So I'd prefer to keep things concrete as "host" for now, rather than abstract "affinity_id".

Spike

Sent from Outlookhttp://aka.ms/Ox5hz3

On Thu, Dec 3, 2015 at 11:23 AM -0800, "robbrockbank" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yup that's correct Peter.

[2015-12-07 14:52] plwhite commented on #57
OK - do you have an ETA for this? No hard deadline, but I've got workarounds in place and it would be quite nice to be able to clean them up. Thanks

[2015-12-08 23:28] spikecurtis opened #60 "Improve perf by removing quorum reads"
`libcalico` currently uses quorum reads on IPAM interactions.

Quorum reads are slower because they require interaction with a quorum of nodes.  We could improve perf by instead, tracking the index of every successful or failed write, and having our reads be >= that index.  Since the datastore object can be made stateful, we can do this without changing the `libcalico` API.

[2015-12-10 18:47] robbrockbank commented on #57
@plwhite

This change has gone in.  After chatting with Spike and Tom we decided not to name affinity_id as a future development will be to add other affinity levels (such as rack).  That's a much bigger change, so for now we've just renamed hostname to be host so that it can represent a host ID of your choosing.  You can of course "abuse" the interface to be rack ID if that's what you require, bu

[2015-12-10 18:47] #57 closed

[2015-12-11 00:17] robbrockbank opened #62 "pip installed libcalico has version set to 0.0.0"
Check that a pip installed libcalico returns the correct version, and fix up if it returns the incorrect version

[2015-12-14 18:14] robbrockbank commented on #56
At the moment the IP Pool is used in the BIRD configuration to determine which routes should be exported.  This means that it is not fine if the existing containers keep the IPs from the stale block.  We probably need to do something to prevent a pool from being deleted if there are any IPs assigned from it.

[2015-12-15 11:49] plwhite commented on #58
This no longer repros with the latest code. Closing.

[2015-12-15 11:49] #58 closed

[2015-12-18 20:59] tomdee opened #66 "IPAM failures when running kubernetes scale test"
I'm not sure if this is a libcalico issue or a kubernetes plugin issue.

When spinning up pods on 25 hosts, I hit this issue on two of the hosts. It caused one pod to fail on the problem hosts. The other hosts had no problems.

[code]

[2015-12-18 22:31] robbrockbank commented on #66
@caseydavenport   Do you happen to know what version of libcalico this would have been using?

[2015-12-18 22:32] caseydavenport commented on #66
Hm. @tomdee was using a master build of our kubernetes plugin, which I believe should pull in whatever is used in the latest `calico/build` container.

[2015-12-22 18:01] #62 closed

[2015-12-24 14:43] spikecurtis commented on #66
This is a new bug.  #47, which is similar, occurred during a `read` call.  This fails on `delete`.

[2015-12-31 09:30] tonicbupt opened #68 "IPAM fail when `masquerade` is set to `true`"
I use `calicoctl pool add 10.200.0.0/16 --nat-outgoing` to create pool, then I use `calicoctl container add 3e 10.200.0.0/16 --interface veth0.1` to add network from pool to container `3e`, it failed.

Error was: `ValueError: Requested pool 10.200.0.0/16 is not configured or haswrong attributes`.

But if I remove `"masquerade": true` in etcd, it works. And after this I add `"masquerade": true` bac

[2015-12-31 10:16] tonicmuroq commented on #68
I found the problem and committed a [PR](https://github.com/projectcalico/calico-containers/pull/705). Another solution is that we only compare `cidr` of each `IPPool` and ignore `masquerade`, `ipip` and `ipam`.

[2016-01-04 18:29] spikecurtis commented on #68
@tonicbupt Where did you submit the PR?  (to `calico-docker` repo?)  Can you link to it?

[2016-01-04 21:05] tomdee commented on #66
@spikecurtis Are you expecting to work on this in the next few days? Otherwise I'll take it off your hands?

[2016-01-04 23:23] spikecurtis commented on #66
@tomdee I haven't started on this because I was worried it would interfere with @robbrockbank's other changes in this area.  Happy to have you take it

[2016-01-05 02:31] tonicmuroq commented on #68
@spikecurtis  don't know why GitHub treat my PR link as issue link... [here](https://github.com/projectcalico/calico-containers/pull/705) is the PR to calico-docker, thanks

[2016-01-05 17:48] #66 closed

[2016-01-06 14:37] plwhite opened #72 "IP allocation of first address can be quite slow on a large system"
When you grab the first address that has ever been used on a host, it scans through all of the known blocks checking to see if they are in use and attempting to grab them. Unfortunately, that can be quite slow on a large system. The example I have in front of me checked 1284 blocks taking 74 seconds before it found an unused one (though this is not a particularly fast server, and there was content

[2016-01-06 17:35] spikecurtis commented on #72
@plwhite do you know if the etcd v3 API contains a "list subkeys" operation (like list directory, but v3 API doesn't have directories) that is fast?  If we had that it would dramatically speed claiming a new, unused block.

[2016-01-07 01:16] caseydavenport opened #73 "Allow specification of tags when creating new profile"
Similar to how rules are implemented, so we don't have to perform multiple libcalico calls to configure a profile with tags.

[code]

becomes

[code]

[2016-01-12 19:27] #68 closed

[2016-02-05 00:24] caseydavenport commented on #56
@robbrockbank We may want to prevent deleting pools if IPs are still assigned within it, but we also need to make sure that when the pool is deleted, so are any block assignments from that pool, right?

[2016-02-05 18:36] robbrockbank commented on #56
Yes - so we probably want a flag in the IP Pool to ensure IPAM ignores it.  In fact we have something similar for libnetwork - so that libnetwork auto-assigned IPPools (created when using default docker IPAM) are not used when assigning IPs using our IPAM.

[2016-02-05 18:40] robbrockbank commented on #56
Maybe we should have an enable/disable option on the IP pool, and make it that you can't delete it while there are IP addresses assigned.

[2016-02-19 23:02] djosborne opened #85 "libcalico yields misleading error from bad ETCD_AUTHORITY env var"
If `ETCD_AUTHORITY` environment is missing a colon, pycalico will fail to initialize the `IPAMClient` with  a misleading stack trace.
[code]
[Link to line 137](https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/datastore.py#L137)

I propose that we should catch the value error and reword it to state "malformed ETCD_AUTHORITY", possibly in the form of a new MalformedE

[2016-02-19 23:53] tomdee commented on #85
SGTM

[2016-02-22 18:04] ozdanborne opened #86 "implement adjustable timeouts"
libcalico does not support adjustable timeouts, and allows certain calls to etcd to block for as long 60 seconds. For example:

[code]

Python blocks for 60 seconds before emitting the following message:

[code]

60 seconds of block time is unacceptable to mesos, which begins to reinitialize tasks if they are staged for that long. We should implement a default or parameterized timeout variable so

[2016-02-22 18:14] djosborne opened #87 "libcalico leaks etcd.EtcdConnectionFailed"
libcalico will raise EtcdConnectionFailed if unable to connect with etcd:
[code]

I propose we catch these errors and reraise them as `DatastoreConnectionError` which inherits from `DatastoreError`

[2016-02-22 23:52] #87 closed

[2016-03-09 22:20] #85 closed

[2016-03-18 17:23] robbrockbank commented on #56
This has been fixed in calicoctl and libcalico.  Should be available in the next release.

[2016-03-18 17:23] #56 closed

[2016-04-17 19:04] tomdee opened #103 "Rules object has extra id field"
Rules are written with an ID field that doesn't appear in http://docs.projectcalico.org/en/latest/etcd-data-model.html or https://github.com/projectcalico/calico-containers/blob/master/docs/etcdStructure.md

I think it comes from this line https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/datastore_datatypes.py#L38

[2016-04-21 12:59] tonicbupt opened #104 "hostname must not contain `_` ?"
from [here](https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/util.py#L225) I found that when validating hostname, no `'_'` is allowed. But if I use some CI tools like gitlab-ci, when running in docker containers, the host name of the linked container would be `'hub.docker.com__service__etcd'` if the image is `'hub.docker.com/service/etcd'`. Could this be changed?

[2016-05-02 17:16] hanikesn opened #107 "Specifying etcd endpoints doesn't work with fqdns"
I'm calling calicoctl with:

[code]

But it aborts with:

[code]

It should be possible to use fully qualified domain names.

[2016-05-31 06:32] depay opened #115 "Could path prefix be configurable ?"
currently we got etcd structure like

[code]

but i wanna run different networks with calico, using the same etcd server, which might be

[code]

i found path of `v1`/`ipam`/`bgp` is defined in libcalico, path of `libnetwork` defined in libnetwork-plugin, and path of `felix` defined in another place... and i found it's hard to set a same prefix via env or else..

[2016-05-31 08:55] fasaxc commented on #115
@depay why can't you share an etcd, what do you mean by "different networks"?  Calico's model is to use a flat layer 3 network so I'm not really sure what you mean.

[2016-05-31 10:15] depay commented on #115
@fasaxc  thanks for reply...

e.g. i deploy my network on server s1/s2/s3, and my teammate deploys his network on server s4/s5/s6. We use a shared etcd cluster, but we wanna use it isolatedly for some reason.. as the docker arg `--cluster-store=etcd://<etcd-server>/<etcd-path-prefix>`, or many zookeeper client did.

when etcd cluster works as a shared service, simply using it's root directory inst

[2016-06-01 13:41] fasaxc commented on #115
I'd recommend using an isolated etcd cluster for each Calico set-up.  If you're doing development work, then it's trivial to start a one-node cluster.  If you're in production, you shouldn't be sharing your etcd because it invalidates our scale and validation testing.

[2016-06-02 01:41] depay commented on #115
I know that, but what we're doing now is using calico under a same router with static routing between real routers. And there may be not so many servers under some routers, that i wanna they share a cluster. For any large size of servers under a router, I'll specify a isolated etcd for them.

[2016-06-03 08:17] fasaxc commented on #115
Why do you need separate Calico instances for each router?  Why can't you use a single Calico instance across all the routers?

If you use separate Calico instances, then Calico won't be able to "see" the workloads attached to other instances so you won't be able to use security rules that reference tags and labels.

[2016-06-03 08:29] depay commented on #115
we do not use tag or other advanced profile currently, just allowing all the inbound or inbound to specific port, so that all-in-one is not that suitable for us...and i'm afraid bgp between routers is not so effective, that i prefer arranging different sub-net to routers with static routing..

[2016-06-03 08:32] depay commented on #115
i would be allowed to deploy an all-in-one calico network by my net admins sometime, maybe..it sounds awesome..

[2016-06-03 09:20] fasaxc commented on #115
So, is the issue that Calico generally assigns IPs at random whereas you need Calico to respect your existing static routes?  I.e. "if workload is in rack X then allocate IPs from pool Y".

What orchestrator are you using (Docker/k8s/Mesos/etc)?

[2016-06-03 09:29] depay commented on #115
I’m using mesos only with docker container.

[2016-06-03 16:58] ozdanborne commented on #115
@depay Is this one connected mesos cluster across s1-s6? Or is it two isolated clusters, where s1-s3 is connected to one master, and s4-s6 is another master?

And can you confirm that fasaxc's point is the root issue here - that you need to assign IPs dynamically from different pools depending on which rack the task is being launched on?

[2016-06-06 03:34] depay commented on #115
@djosborne

for the 1st:
it's not the key point whether s1-s6 are in one cluster or not. That's just a example for explaining isolation with the same etcd.

for the 2nd:
for question `why not using an all-in-one calico network`, fasaxc's point is partly the issue. Another requirement besides is that we do not wanna create bgp connect across real routers, because our nodes are distributed under man

[2016-06-06 12:31] fasaxc commented on #115
@depay Thanks for the clarification.  We always prefix our keys with `/calico/` so we don't use the root directory directly.

I'm just worried about the additional complexity of having lots of independent Calico's in one etcd.  It's bound to get confusing to manage and labels/tags/rules won't work as expected.  It seems like the right solution is for us to support more refined IPAM within a single

[2016-06-13 01:27] depay commented on #115
thanks @fasaxc  @djosborne , i'm looking forward for the fantastic IPAM. :smile:  And i will deploy different etcd clusters for each subnet currently..

[2016-06-27 23:02] tomdee commented on #104
Tricky. Hostnames shouldn't have underscores in them (http://www.ietf.org/rfc/rfc1034.txt) But maybe we can relax this restriction. @tonicbupt would you be able to submit a PR?

[2016-06-27 23:06] tomdee commented on #104
See also https://github.com/docker/docker/issues/22057 and https://github.com/docker/docker/issues/20371

[2016-06-27 23:11] tomdee commented on #107
@hanikesn How important is it for you to use a fully qualified domain name here?

PRs are always welcome - here's the line that would need fixing https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/util.py#L412

[2016-06-27 23:12] tomdee commented on #115
Closing as it looks like this issue has been resolved. Please reopen if I've got this wrong.

[2016-06-27 23:12] #115 closed

[2016-07-04 07:35] tonicmuroq commented on #104
@tomdee submit #129 , the only change is that I add `'_'` in the regexp ...

[2016-07-07 13:44] hanikesn commented on #107
As the workaround is pretty simple I'd give it pretty low priority and just close it.

[2016-08-10 00:15] robbrockbank commented on #103
Once we have a new release of calicoctl which does not expect this field - please fix up libcalico-go and calicocni-go to not expect this.

[2016-08-10 00:16] tomdee commented on #103
Just FTR, the only thing expecting this in calicocni-go is a test - it will be easy to spot and remove _after_ libcalico-go is updated.

[2016-08-11 01:00] caseydavenport opened #133 "Libcalico doesn't respect endpoint "name" from etcd."
https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/datastore_datatypes.py#L261

Looks like libcalico always assumes the endpoint host-side veth name is the `cali` prefix + endpoint ID, which is totally broken.

New CNI code uses the _container_ side veth as the endpoint ID, which means the "name" field gets written as "calieth0".

[2016-08-11 01:00] caseydavenport commented on #133
@robbrockbank I think we need to fix this as part of the set of releases you're planning on doing this week.  I can write the code + test, but please hold off on any releases until this is updated.

[2016-08-12 21:40] robbrockbank commented on #104
This will be in the next release of calicoctl - which I'm hoping to get out today, or Monday at the latest.

[2016-08-12 21:40] #104 closed

[2016-08-12 21:42] robbrockbank commented on #103
Fixed in #132, and will be available in the next release of libcalico (should be today)

[2016-08-12 21:42] #103 closed

[2016-08-12 21:43] robbrockbank commented on #133
Fixed by #134.  Will be in next release of libcalico (should be today)

[2016-08-12 21:43] #133 closed

[2016-08-24 18:47] gmcquillan opened #140 "Default ASN is Not in Private Range"
It's using 64511, where the private range begins at 64512 [1].

Value as seen in Etcd:

[code]

From the RFC:

[code]

Where this default value lies:

https://github.com/projectcalico/libcalico/blob/d9fe4aa49dd193c313b481c2e5a138601e3b8b6e/calico_containers/pycalico/datastore.py#L95

1: https://tools.ietf.org/html/rfc6996

[2016-08-25 15:03] fasaxc commented on #140
It's not quite that bad: 64511 is in the "Reserved for use in documentation and sample code" block so it's not public either:

http://www.iana.org/assignments/as-numbers/as-numbers.xhtml

That said, I agree that we shouldn't be using an AS from that block since that's not what it's for.

[2016-08-25 15:19] gmcquillan commented on #140
Cool. I half expected that I was reading the RFC wrong. Cheers!

Thanks Shaun

On Aug 25, 2016 8:04 AM, "Shaun Crampton" notifications@github.com wrote:

[2016-09-13 09:33] cutwater opened #146 "Allow using custom InterfacePrefix value in callico"
Currently it is not possible to use custom `InterfacePrefix` value in libcalico, since it is not read from ETCD or it cannot be passed explicitly to [datastore.py#L1295](https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/datastore.py#L1295)

[2016-09-13 09:37] fasaxc commented on #146
@cutwater it'd be difficult to implement such a feature because we wouldn't be able to change the interface prefix for already-created endpoints (so we'd need to keep track of all previous values or handle them specially in felix).  Do you have a particular use-case in mind?

We do use the interface prefix internally, it is set differently in different orchestrators but it's intended to be written

[2016-09-14 13:55] cutwater commented on #146
@fasaxc It would be nice feature to be able to use any prefix except the default one ("cali").

Currently we are testing mixed environment with K8S and OpenStack. And we found that there is a conflict beween interface prefixes set by calico-cni plugin and networking-calico. networking-calico sets `InterfacePrefix` to `tap` which makes impossible to run any k8s pod later.

Currently libcalico creat

[2016-09-14 15:01] fasaxc commented on #146
Thanks for explaining the reasoning behind it.

I'd imagined expanding InterfacePrefix to be a list of values to take care of that use case, so you could set it to `cali,tap` and then felix would allow either to be used.  I prefer that option because it removes the need to support different prefixes in the CNI plugin and to handle the inevitable support requests when an innocent user changes the c

[2016-09-15 08:55] cutwater commented on #146
@fasaxc It seems in all ways better solution. We considered it as an alternative, but it will be a bit more complicated. I will continue working in this direction.

Should I close this issue as an invalid and open new one related to multiple prefixes in appropriate repository?

[2016-09-15 11:14] fasaxc commented on #146
@cutwater Understood; I do think we'd prefer to go down the multiple interfaces route; @neiljerram has a bit of time in plan to help with that (and I think he's set up a call with you to discuss upcoming work).

I think you've already done that (https://github.com/projectcalico/calico/issues/1101).  Thanks!

[2016-09-15 11:14] #146 closed

[2016-09-16 23:33] matthewdupre commented on #72
This should have been fixed by @gunjan5 (at least in libcalico-go): the search order is now random.

[2016-09-16 23:33] #72 closed

[2016-09-19 08:39] fasaxc commented on #60
Not sure etcd has the concept of a quorum read; it does have consistent reads, which go via the master but we should profile and make sure those are an issue before we fix.

Closing for now, @matthewdupre please shout if you disagree.

[2016-09-19 08:39] #60 closed

[2016-09-27 13:21] cutwater opened #148 "Invalid mac address returned if `ip` prints to stderr"
Function `get_ns_veth_mac` [netns.py#L245](https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/netns.py#L245) returns invalid result if `ip netns ...` command printed message in stderr.

`ip netns` command can print `RTNETLINK answers: Invalid argument` to stderr and still finish with exitcode `0`, which causes next endpoint written to etcd:

```{"name": "cali76e50b06

[2016-09-27 22:53] matthewdupre commented on #148
Assigning this a low priority on the assumption that the original cause (of ip netns erroring) can be worked around: I can adjust if it can't.  @cutwater did you find out why the command errored?

[2016-09-28 08:34] cutwater commented on #148
@matthewdupre We're still investigating the root cause. This issue occurs when there is something wrong with linux namespaces (usually after OpenStack neutron creates `dhcp-` namespace). Still `ip netns` works correctly, returns the result as expected and exitcode is `0`, except it has such side-effect like writing message to _stderr_.

The problems begin when `NamedNamespace` reads stderr, consid

[2016-09-30 14:33] nelljerram commented on #148
@djosborne You added the `stderr=STDOUT` as part of:

[code]

Can you remember why?

[2016-09-30 17:33] ozdanborne commented on #148
@neiljerram That was back when I was trying to improve error logging and diags. I followed [the example on the python docs](https://docs.python.org/2/library/subprocess.html#subprocess.check_output):

When commands failed and printed why to stderr, libcalico could bubble up the reason why to the caller.

As @cutwater has shown, redirecting stderr is a bit overreaching. If we remove it, error messa

[2016-10-03 16:04] nelljerram commented on #148
Thanks @djosborne.

@cutwater Do you have any more information about the root cause when `ip netns exec ...` returns 0 but generates stuff on stderr?

[2016-10-04 07:52] adidenko commented on #148
@neiljerram here's how you can reproduce it:

[code]

[2016-10-04 12:16] nelljerram commented on #148
@adidenko For me that doesn't give the symptoms that this PR is concerned with:

[code]

Were there some other details to your repro?

[2016-10-04 12:41] adidenko commented on #148
That's exactly the case we faced. There were some leftovers in /var/run/netns directory on kubernetes worker nodes and this caused invalid "mac" parameter for newly created PODs on such nodes.

So you can do `mkdir /var/run/netns/zzz` on any kubernetes worker node and then try to spawn any POD on it.

[2016-10-04 12:55] nelljerram commented on #148
(1) But why would anyone do that? (Instead of creating a namespace properly with `ip netns add`.)

(2) The PR discussion above says that part of the problem is that the exit code is 0, but my transcript just above shows that I get an exit code of 1.

I'm afraid I'm quite confused!

[2016-10-04 13:18] adidenko commented on #148
1) for example, some POD/container may mount `/run/netns` (or `/run`) from host system and create some netns for its needs. Then after removal of this POD it will leave the netns bind on host system.

2) `ip netns` (i.e. `ip netns ls`) works with exit code 0

[code]

So if you have a valid netns and a leftover in /run/netns dir, the valid netns works fine but still throws warnings:

[code]

We do

[2016-10-06 18:11] nelljerram commented on #148
Thanks @adidenko, I see now, and agree that this is a strong argument for not having `stderr=STDOUT` in `ip netns` calls.  It basically means that our code can never reliably use the expected output of such a call.

[2016-10-07 13:12] cutwater opened #156 "calicoctl raises `NameError` due to missing import"
calicoctl raises `NameError` exception, because `EtcdAlreadyExist` is not imported.

[code]

[2016-10-07 17:40] #156 closed

[2016-10-09 03:18] xuyao18 opened #158 "If port is a range like '80:90' Rule.to_dict() failed"
If port is a range like '80:90',an error will be raised .

ValueError: invalid literal for int() with base 10: '80:90'

[2016-10-10 01:59] xuyao18 commented on #158
I tried to change some code to fix this issue .

in function to_json_dict:

change  this code

[code]

to

[code]

[2016-10-13 13:36] nelljerram commented on #148
Fixed by PR #149

[2016-10-13 13:36] #148 closed

[2016-11-15 04:52] stonith opened #169 "IP's allocated from original pool after deletion"
This seems to be a reoccurrence of #56. I used https://github.com/projectcalico/calico/blob/master/v2.0/getting-started/kubernetes/installation/hosted/calico.yaml to deploy into a kops cluster.

System pods get 192.168.0.0/16 ip's:
[code]

Default pool is deleted and new pool is created:
[code]

System pods deleted:
[code]

New system pods still have ip's from 192.168.0.0/16:
[code]

[2016-11-15 16:53] caseydavenport commented on #169
@stonith closing this and moving to https://github.com/projectcalico/libcalico-go/issues/258

[2016-11-15 16:53] #169 closed

[2016-11-20 17:58] robbrockbank opened #171 "ST framework tidy required"
Couple of areas for ST framework tidy-up:

-  Logging needs to be synchronized now that the assert connectivity is multi-threaded.  Probably best to implement a synchronized LoggingHandler class and to register that with logging

-  The assert connectivity processing uses a workload container, but the workload container is defined in the calico-containers repo.  I think that should be moved into t

[2016-11-24 03:42] robbrockbank commented on #73
Closing this issue as we should be migrating over to use libcalico-go (which does support this.... and tags are being deprecated)

[2016-11-24 03:42] #73 closed

[2016-11-29 00:28] tomdee commented on #158
@xuyao18 Would you be interested in creating a pull request for this change?

[2016-12-13 07:45] caseydavenport commented on #140
This should be fixed in the latest beta, and will be included in Calico v2.0.0

[2016-12-13 07:45] #140 closed

[2017-01-23 13:21] artem-panchenko opened #182 "`make ut` fails: ERROR: unsatisfiable constraints: py2-pip (missing)"
Make target for unit tests executions fails, because 'calico/test' image can't be built:

The failure is caused by an old base image (docker) which is based on alpine linux v3.4 that lacks 'py2-pip' package. Current 'latest' points to 3.5 version which has 'py2-pip', so `docker pull docker` fixes the issue locally. I think base image in Dockerfile.calico_test should be pinned to some version in or

[2017-01-23 22:44] #182 closed

[2017-08-08 06:11] #171 closed

[2017-08-08 06:22] caseydavenport commented on #107
This is fixed now.

[2017-08-08 06:22] #107 closed

[2017-08-22 05:47] rrayst opened #189 "add support for the workloadendpoint.active_instance_id field"
The ```workloadendpoint.active_instance_id``` field was introduced in libcalico-go (https://github.com/projectcalico/libcalico-go/pull/396) to fix https://github.com/projectcalico/cni-plugin/issues/310 .
Currently, libcalico-go has the field, libcalico doesn't.

We should also add it to libcalico.

## Expected Behavior
Run calico-policy-controller and the cni-plugin e.g. on a three-node Kubernetes

[2017-08-22 10:08] fasaxc commented on #189
@rrayst Thanks for the issue report.  FYI we have a golang version of the policy controller in the works so that should solve the problem.

[2017-08-22 17:57] rrayst commented on #189
@fasaxc is that already public?

[2017-08-23 08:13] fasaxc commented on #189
It is a work in progress on this (public) branch but I'm not sure if it's ready to try: https://github.com/projectcalico/k8s-policy/tree/golang

[2017-09-12 00:43] caseydavenport commented on #189
@rrayst the golang code was merged to master today: https://github.com/projectcalico/k8s-policy

It's still hardening so there are likely to be bugs yet.   Feel free to try it out with the `calico/kube-policy-controller:master` tag

[2017-09-15 14:22] timothysc commented on #189
There are a number of other issues that should probably be cross linked to this one.

The behavioral manifestation is a crashlooping pod.
https://github.com/projectcalico/calico/issues/1105 .

FWIW a kubeadm installation running the most of the e2e suite would have exposed this issue.

I'd highly recommend adding this to your process, and if you need/want help please feel free to reach out.

/cc @

[2017-09-15 16:20] caseydavenport commented on #189
We do have a kubeadm rig which runs all of the Networking[Conformance] and NetworkPolicy e2e tests, but we don't see any issues in those tests.

@timothysc is there another set of tests which was exhibiting these failures?

[2017-09-15 17:39] timothysc commented on #189
@caseydavenport That's a very small subset of the tests, I'd open up the focus to 'Conformance' and the skip to 'Alpha|Disruptive|Flaky'

[2017-09-21 20:18] bcreane commented on #189
closing as fixed via k8s-policy master.

[2017-09-21 20:18] #189 closed

[2018-03-15 04:42] rmrf opened #193 "ipv4 block pool without affinity host setting issue"
Our system is kind of old
[code]
There are some ipv4 block pool missing affinity setting
such as this
[code]

And this is causing issue when allocating docker container inside this ip pool,
bellow is the log from alico_node-libnetwork:
[code]
Not sure if I can assign an affinity host (which already have a ipv4 pool) to this `/calico/ipam/v2/assignment/ipv4/block/172.20.0.0-26` for fixing, will tha

[2018-03-15 17:52] caseydavenport commented on #193
@rmrf did you at any point delete an IP pool which contains that block?

And, does a key exist at `/calico/ipam/v2/host/<nodename>` for the block? You could try writing in the correct host affinity there in the form `host:<nodename>` it should at least get rid of the immediate error.

However, v0.20.0 is _really_ old and a lot of IPAM fixes have been made since then. I strongly recommend upgrading

[2018-03-15 17:52] #193 closed

[2018-03-16 02:44] rmrf commented on #193
@caseydavenport we have hosts removed from cluster (docker swarm), which containing this IP pool, which causing this.

And, there is no key exist at `/calico/ipam/v2/host/<nodename>` for this block (seems this block turn to orphan after host remove)

So am I ok to assign another `parent` host to this `orphan IP pool` with bellow 2 steps?
 -  add new key for `/calico/ipam/v2/host/<new parent>/ipv4/

[2019-10-21 18:16] #158 closed

[2019-10-21 18:16] #86 closed